// ? colors
$accentColor = #3e5ede;
// 强调色
$textColor = #333;
$darkTextColor = #000;
$borderColor = rgba($darkTextColor, 0.05);
$darkBorderColor = $darkTextColor;
$codeBgColor = $darkTextColor;
$bgColor = #fff;
$headerBgColor = $bgColor;
$footerBgColor = $darkTextColor;
$footerColor = #828282;
$newsletterBgColor = #f8f8f8;
$contentWidth = 900px;
// layout
$codeColor = #cc1c a;