$accentColor = #3e5ede;
$textColor = #333;
// 强调色
$darkTextColor = #000;
$borderColor = rgba($darkTextColor, 0.05);
$darkBorderColor = $darkTextColor;
$codeBgColor = $darkTextColor;
$bgColor = #fff;
$headerBgColor = $bgColor;
$footerBgColor = $darkTextColor;
$footerColor = #828282;
$newsletterBgColor = #f8f8f8;
$contentWidth = 900px;
$codeColor = #cc1c a;
// layout
$codeLang = js bash ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile jsx tsx;